// Specific CSS for your home-page
#home-plant-1 {
  position: absolute;
  right: 0;
  top: 25px;
}

#home-plant-2 {
  position: absolute;
  left: -100px;
  bottom: 0;
}

#home-container-top {
  margin-top: 8rem;
  margin-left: 2rem;
  min-height: 80vh;

  h1 {
    font-size: 72px;
  }

  h1, h2 {
    margin-bottom: 2rem;
  }

  .btn {
    margin-right: 15px;
  }
}


#home-form {
  margin-top: 10rem;
  padding: 4rem 0;
  position: relative;

  h2 {
    margin-bottom: 6rem;
  }
}

#plant-search {
  max-width: 600px;
}

.info-home {
  text-align: center;
  padding-top: 50px;
}

.info-body {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;

  img {
    background-color: #FFCFCB;
    border-radius: 20px;
  }
}

.info-text {
  width: 250px;
}


#small-info {
  font-size: x-large;
  margin-bottom: 20px;
}

#pad-info {
  padding-top: 30px;
}
