.plant-post-grid {
  display: grid;
  grid-template-columns: max-content auto;
  padding-top: 20px;
  grid-gap: 20px;

  img {
    object-fit: cover;
  }
}

.post-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .btn {
    width: max-content;
  }
}