.plant-post-grid {
  display: grid;
  grid-template-columns: max-content auto;
  padding-top: 20px;
  grid-gap: 50px;

  .plant-img {
    object-fit: cover;
    width: 400px;
    height: 450px;
  }
}

@media (max-width: 992px) {
  .plant-post-grid {
    grid-template-columns: auto;

    .plant-img {
      width: 100%;
      height: 350px;
    }
  }
}

.post-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .btn {
    width: max-content;
  }
}

.plant-post {
  margin-bottom: 30px;
  display: flex;

  .post-body {
    margin-left: 20px;
  }

  a:hover, a:active, .upvoted {
    color: $bright-green;
  }
}

.plant-reply {
  border-left: 2px dashed $bright-green;
  padding-left: 25px;
}

.post-replies {
  margin-left: 20px;
  padding-left: 25px;
}
