.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  padding-right: 160px;
}

.main {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 6px, rgba(0, 0, 0, 0.04) 0px 12px 13px, rgba(0, 0, 0, 0.04) 0px -3px 5px;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 10px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
  }
}

.container-main {
  padding-bottom: 120px;
  padding-top: 20px;
}

.texter {
  list-style-type: none;
  padding-top: 20px;
}

ul {
    list-style-type: none;
}

.big_letter {
  font-size: 30px;
}

.shop-form form {
  display: flex;
  #query {
    height: 49.96px;
    width: 250px;
  }
  .btn {
    margin-left: 0.85rem;
  }
}

.card-body {
  line-height: 40px;
}

.description_plant {
  padding-top: 20px;
}

.hover_green :hover{
  color: rgba(14, 44, 23, 0.7);
}

.forum {
  padding-left: 100px;
}

.hover_green {
  padding-top: 20px;
  text-align: center;
}

.center_drop {
  font-size: large;
  padding-bottom: 40px;
}

.carousel {
  max-width: 350px;
}
.carousel,
.carousel-inner,
.carousel-item {
  border-radius: 10px;
}
