.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm {
  width: 170px;
  text-align: right;
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
    gap: 1rem;
  }

  .confirm {
    width: max-content;
  }
}

.title {
  text-align: center;
}

.main {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 6px, rgba(0, 0, 0, 0.04) 0px 12px 13px, rgba(0, 0, 0, 0.04) 0px -3px 5px;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 10px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;
    // position: absolute;
    // bottom: 0;
    padding-bottom: 20px;
    gap: 2rem;
  }
}

@media (max-width: 1300px) {
  .main {
    flex-direction: column;

    .bottom {
      flex-wrap: wrap;
    }
  }
}

.container-main {
  padding-bottom: 120px;
  padding-top: 20px;
}

.texter {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ul {
    padding-right: 100px;
  }

  strong {
    font-weight: 500;
  }
}

@media (max-width: 992px) {
  .texter {
    ul {
      padding-right: 20px;
    }
  }
}

ul {
    list-style-type: none;
}

.plant-show-grid {
  display: grid;
  grid-template-columns: 125px 1fr;
}

.big_letter {
  font-size: 30px;
}

.shop-form form {
  display: flex;
  #query {
    height: 49.96px;
    width: 250px;
  }
  .btn {
    margin-left: 0.85rem;
  }
}

.card-body {
  line-height: 40px;
}

.description_plant {
  padding-top: 20px;
}

.hover_green :hover{
  color: rgba(14, 44, 23, 0.7);
}

.price-lighter {
  color: #ccc;
}

.hover_green {
  padding-top: 20px;
  text-align: center;
}

.center_drop {
  font-size: large;
  padding-bottom: 40px;
}

.carousel {
  max-width: 350px;
}
.carousel,
.carousel-inner,
.carousel-item {
  border-radius: 10px;
}

.carousel-item {
  img {
    height: 400px;
    width: 350px;
    object-fit: cover;
  }
}

@media (max-width: 1300px) {
  .carousel {
    max-width: 100%;
  }

  .carousel-item {
    img {
      width: 100%;
      height: 300px;
    }
  }
}
