<div class="footer">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "bloom-logo.png", alt: "Bloom logo" %>
    <% end %>
  </div>

  <div id="socials">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>

  <div>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Terms & conditions</a></li>
    </ul>
  </div>
</div>
