<div class="footer">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "bloom-logo.png", alt: "Bloom logo" %>
    <% end %>
  </div>

  <div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>

  <div>
    About us
  </div>
</div>
