<div data-plant-list-target="list">
  <% if params[:query].present? || params[:max_price].present? || params[:light_level].present? || params[:care_level].present? || params[:pets].present? %>
    <h2 class="text-center"><%= pluralize @plants.count, 'plant' %> found that match your criteria</h2>
  <% else %>
    <h2 class="text-center">All plants</h2>
  <% end %>

  <div class="container_card">
    <div class="row">
      <% plants.each do |plant| %>
          <%= link_to plant_path(plant) do %>

            <%= render 'plant_card.html', item: plant %>

          <% end %>
      <% end %>
    </div>
  </div>
</div>
