<div data-plant-list-target="list">
  <h2 class="text-center"><%= pluralize @plants.count, 'plant' %> found that match your criteria</h2>

  <div class="container_card">
    <div class="row">
      <% plants.each do |plant| %>
          <%= link_to plant_path(plant) do %>

            <%= render 'plant_card.html', item: plant %>

          <% end %>
      <% end %>
    </div>
  </div>
</div>
