<h1><%= pluralize @plants.count, 'plant' %> match your criteria</h1>

<div class="row">
  <% @plants.each do |plant| %>
    <div class="col-12 col-md-4">
      <%= link_to plant_path(plant) do %>
        <%= render 'plant_card', plant: plant %>
      <% end %>
    </div>
  <% end %>
</div>
