<div class="header">
  <h1>Wishlist</h1>
  <h2>Your wishlisted plants</h2>
</div>

<div class="container_card">
  <div class="row">
    <% if @my_wishlist_items.blank? %>
      <p>You have no items on your wishlist yet.</p>
    <% else %>
      <% @my_wishlist_items.each do |item| %>
        <%= render 'plants/plant_card', item: item.plant %>
      <% end %>
    <% end %>
  </div>
</div>
