<div class="header">
  <h1>Wishlist</h1>
  <h2>Your wishlisted plants</h2>
</div>

<div class="container_card">
  <div class="row">
    <% @my_wishlist_items.each do |item| %>
      <div class="col-4 pb-5 px-5">
        <div class="cont card">
          <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi6tjr8ihFToiXvkanWwxC8hblZjU7OlLRqA&usqp=CAU" alt="Plant" class="plant_img" >
          </div>
            <div class="text row">
              <div class="card-body pt-2">
                <h2 class="card-title"><%= link_to item.plant.name, plant_path(item.plant) %></h2>
                <div class="row">
                  <div class="col-6">
                    <p class="card-text">
                      <% if item.plant.light_level == "low" %>
                        <i class="fas fa-sun"></i>
                      <% elsif item.plant.light_level == "medium"%>
                        <i class="fas fa-sun"></i><i class="fas fa-sun"></i>
                      <% else %>
                      <i class="fas fa-sun"></i> <i class="fas fa-sun"></i> <i class="fas fa-sun"></i>
                      <% end %>
                    </p>

                    <p class="card-text">
                      <% if item.plant.toxic == true %>
                        <i class="fas fa-paw"></i><i class="fas fa-times"></i>
                      <% else %>
                        <i class="fas fa-paw"></i><i class="fas fa-check"></i>
                      <% end %>
                    </p>
                  </div>

                  <div class="col-6">
                    <p class="card-text">
                      <% if (1..10).include? item.plant.price %>
                        <i class="fas fa-dollar-sign"></i>
                      <% elsif (11..30).include? item.plant.price%>
                        <i class="fas fa-dollar-sign"></i> <i class="fas fa-dollar-sign"></i>
                      <% else %>
                        <i class="fas fa-dollar-sign"></i> <i class="fas fa-dollar-sign"></i> <i class="fas fa-dollar-sign"></i>
                      <% end %>
                    </p>

                    <p class="card-text">
                      <% if item.plant.care_level == "low" %>
                        <i class="fas fa-seedling"></i>
                      <% elsif item.plant.care_level == "medium"%>
                        <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i>
                      <% else %>
                        <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
