<div class="header">
  <h1>Wishlist</h1>
  <h2>Your wishlisted plants</h2>
</div>

<div class="container_card">
  <div class="row">
    <% @my_wishlist_items.each do |item| %>
      <%= render 'plants/plant_card', item: item.plant %>
    <% end %>
  </div>
</div>
