.footer {
  padding: 1rem 2rem;
  background-color: $green;
  color: $pink;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a:link, a:visited {
    color: $pink;
  }

  #socials {
    font-size: 40px;

    a:link {
      padding: 0 0.5rem;
    }
  }
}

.navbar-brand img {
  width: 40px;
  padding-left: 0.5rem;
}

.footer-logo {
  width: 95.97px;
}
