.mapboxgl-popup {
  max-width: 130px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
  background-color: $white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  padding: 0 0 1rem 0 !important;
}

.row #map {
  height: 100vh;
  position: sticky;
  top: 50px;
}

#map {
  margin-bottom: 30px;
  max-height: 85vh;
}

.shop-popup {
  width: 130px;
  height: 145px;
  color: $green;
  border: none !important;
  outline: none;
  h2 {
    margin-bottom: 0;
    font-size: 11px;
  }
}

.shop-popup:focus-visible {
  border: none !important;
  outline: none;
}

// .shop-popup:focus:not(:focus-visible) { outline: none}

.mapboxgl-control-container:focus-visible {
  outline: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.mapboxgl-control-container {
  outline: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.shop-popup:focus {
  border: none !important;
  outline: none;
}


.mapboxgl-control-container:focus {
  outline: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.mapboxgl-popup-content a,
.mapboxgl-popup-content a:active,
.mapboxgl-popup-content a:focus,
.mapboxgl-popup-content a:focus-visible {
  border: none !important;
  outline: none;
  outline: -webkit-focus-ring-color auto 0px;
}
