.navbar {
  padding: 1rem 2rem;
}

.navbar-bloom {
  justify-content: space-between;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 10;
  color: $green;
}

.navbar-bloom .navbar-collapse {
  flex-grow: 0;
}

.navbar-bloom .navbar-brand img {
  width: 40px;
  padding-left: 0.5rem;
}

.navbar-brand {
  background-color: $pink;
  border-radius: 50%;
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0.75rem 2rem;
}
