.navbar {
  padding: 1rem 2rem;
}

.navbar-bloom {
  justify-content: space-between;
  background: $white;
  position: sticky;
  top: 0;
  z-index: 10;
  color: $green;
}

.navbar-bloom .navbar-collapse {
  flex-grow: 0;
}

.navbar-bloom .navbar-brand img {
  width: 40px;
}
